.about-content {
    color: var(--clr-black);
    background-color: var(--clr-primary);
    height: inherit;
    padding-inline: 10%;
    display: grid;
    place-items: center;
}

.detail-group {
    padding-inline: 5rem;
}

.detail-group h1 {
    font-size: 2.25rem;
    text-align: center;
}

.detail-group p {
    margin-block: 1rem;
    font-size: 1rem;
    text-align: justify;
}

.image-group {
    display: flex;
    gap: 1rem;
}

.image-item {
    cursor: pointer;
    flex: 1;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.image-item img {
    width: inherit;
    height: 300px;
    object-fit: cover;
    transition: opacity .3s ease-in-out;
}

.image-item:hover img {
    opacity: 0.8;
}

.image-item p {
    text-align: center;
    padding-block: 1rem;
}