header nav {
    padding-inline: 10%;
}

.navigation-bar {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--clr-black);
    background-color: var(--clr-primary);
}

.logo a {
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: 1.25rem;
}

.menu-list {
    display: flex;
}

.menu-list li {
    padding-inline: 3rem;
}

.register-btn a {
    border-radius: 6px;
    padding: .5rem 1rem;
    background-color: var(--clr-accent);
    text-transform: uppercase;
    color: var(--clr-primary);
}