#header-section {
    position: sticky;
    top: 0;
    z-index: 99999;
}

.header-container {
    background-color: var(--clr-primary);
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--clr-secondary);
}

.header-container .logo a {
    text-transform: uppercase;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.header-container .logo a img {
    height: 30px;
    width: 30px;
    transition: all .5s ease-in-out;
}

.header-container .logo a:hover img {
    transform: rotate(180deg);
}

.animate {
    animation: aniLetter 3s ease-in infinite;
    animation-delay: calc(.3s * var(--i));
}

@keyframes aniLetter {

    0%,
    40%,
    100% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }
}

.header-container .menu {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    gap: 2.25rem;
}

.header-container .menu li:hover {
    color: var(--clr-accent);
}

#btn {
    right: 0;
    position: absolute;
    display: none;
}

.header-container {
    position: relative;
}

.column-menu {
    background-color: var(--clr-secondary);
    flex-direction: column;
    position: absolute;
    top: var(--header-height);
    right: 0;
    padding: .875rem 1.25rem;
    text-align: center;
    width: 50%;
}

.column-menu li {
    color: var(--clr-primary);
    line-height: 2rem;
}

@media (width < 1080px) {
    #btn {
        display: block;
    }

    .header-container .menu {
        display: none;
    }

    .header-container .column-menu {
        display: block;
    }
}

@media (width < 420px) {
    .header-container .logo a span {
        display: none;
    }

    .column-menu {
        width: 100%;
    }

}