@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Overpass", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::selection {
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
}

li {
    list-style-type: none;
}

a {
    color: var(--clr-black);
    text-decoration: none;
}

body {
    background-color: var(--clr-primary);
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}