 section {
     max-width: 85%;
     margin: 0 auto;
     padding: 0 3rem;
     outline: 1px solid red;
 }

 #skill-section,
 #project-section,
 #service-section,
 #contact-sectionder-section {
     height: 100vh;
 }